# =========================
# Python Virtual Environment
# =========================
venv/
venvlang/
.env
.env.*
.ipynb_checkpoints/

# =========================
# Python cache / compiled files
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Logs & temp files
# =========================
*.log
*.tmp

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Packaging
# =========================
build/
dist/
*.egg-info/
